* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lato', sans-serif;
}

.hide {
  display: none;
}

.deskSection {
  display: none;
}

.deskAnchor {
  display: none;
}

.introContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px 60px 20px;
  background-image: url(../img/mobileIntrobg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  justify-content: space-between;
}

.mobileNav {
  position: relative;
  width: 50px;
  height: 41px;
  margin-left: 5px;
  z-index: 20;
  margin-bottom: 50px;
}

.rect {
  position: absolute;
  display: block;
  width: 35px;
  height: 7px;
  background-color: #272a31;
}

.rec2 {
  margin-top: 10px;
}

.rec3 {
  margin-top: 20px;
}

.hello {
  color: #ec5242;
  font-size: 1.75rem;
  font-weight: normal;
}

.introH1 {
  font-weight: 900;
  font-size: 3.75rem;
  background-image: url(../img/headerTextbg.jpg);
  background-repeat: no-repeat;
  background-clip: content-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.introText {
  font-size: 1rem;
  font-weight: normal;
  color: #272a31;
  border: 2px solid #fff;
  padding: 20px;
  background-color: #e5e4e2;
}

.introDate {
  font-size: 2rem;
  font-weight: 900;
  color: #272a31;
}

.introVenue {
  font-size: small;
}

.mainProgram {
  background: #272a31 url(../img/mainProgamPattern.png) repeat;
  padding: 50px 20px;
}

.mainProgramContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  height: 620px;
}

.mainProgramH1 {
  font-size: 1.56rem;
  font-weight: bold;
}

.mainProgramHr {
  border: 1px solid #ec5242;
  width: 45px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.programContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 100%;
  margin: 5px 0;
  gap: 5%;
  background-color: rgba(255, 255, 255, 0.1);
}

.programContainer > p {
  font-size: 0.75rem;
  word-wrap: break-word;
  width: 40%;
}

.programContainer > h3 {
  color: #ec5242;
  width: 25%;
}

.programButton {
  width: 60%;
  height: 60px;
  color: #fff;
  background-color: #ec5242;
  border: 0;
  font-weight: bold;
  font-size: 0.9rem;
  justify-content: center;
  margin-top: 25px;
}

.featuredSpeakers {
  margin-bottom: 50px;
}

.fSpeakersContainer {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-evenly;
  align-items: center;
}

.fSpeakersHr {
  border: 1px solid #ec5242;
  width: 45px;
  margin-top: -40px;
}

.speakerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  gap: 5px;
}

.speakerContainer > div > h1 {
  font-size: 1.3rem;
  justify-content: center;
}

.speakerContainer > div > h2 {
  font-size: 1rem;
  color: #ec5242;
}

.logoContainer > hr {
  border: 1px solid #ec5242;
  width: 95px;
  margin-top: -85px;
}

.speakerContainer > div > hr {
  width: 29px;
  border: 1px solid #e5e4e2;
}

.expand {
  color: #ec5242;
}

.expandBtn {
  width: 80%;
  height: 60px;
  background-color: #fff;
  border-style: solid;
}

.logoSection {
  padding: 30px;
  border-bottom: 1px solid #272a31;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  padding: 10px;
  border: 2px outset #000;
  border-radius: 3px;
  color: #272a31;
}

.logo > p {
  color: tomato;
  font-size: 1.5rem;
  font-weight: 900;
}

.mobileMenu {
  width: 45%;
  background-color: #d3d3d3;
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 10;
  padding: 200px 15%;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}

.menuContainer a {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 10px;
  text-decoration: none;
  color: #272a31;
}

.menuContainer a:hover {
  color: #ec5242;
  border-bottom: 2px solid #ec5242;
}

.menuContainer li {
  list-style: none;
  margin-bottom: 20px;
}

.home {
  color: #ec5242;
}

@media screen and (max-width: 470px) {
  .programContainer > h3 {
    font-size: 1rem;
  }

  .programContainer > p {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .deskSection {
    display: block;
  }

  .topBarUl a {
    padding-bottom: 10px;
  }

  .deskAnchor {
    display: inline;
  }

  .mobileNav {
    display: none;
  }

  .mobile {
    display: none;
  }

  .partner {
    background-color: #272a31;
    padding: 30px;
  }

  .partner > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }

  .partner > div > hr {
    border: 1px solid #ec5242;
    width: 45px;
  }

  .width {
    width: 120px;
  }

  .partnerContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 25px;
  }

  .topNavContainer {
    background-color: #272a31;
    color: #d3d3d3;
    display: flex;
    align-items: flex-end;
    padding: 10px 5vw;
    flex-direction: column;
  }

  .topNavContainerUl {
    display: flex;
    gap: 2rem;
  }

  .topNavContainerUl > li {
    list-style: none;
  }

  .topBarContainer a {
    text-decoration: none;
    color: #272a31;
  }

  .mainProgramContainer > a {
    color: #fff;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .topNavContainerUl > li > a {
    text-decoration: none;
    color: #d3d3d3;
  }

  .topBarUl a:hover {
    color: #ec5242;
    border-bottom: 2px solid #ec5242;
  }

  .topBarContainer {
    display: flex;
    padding: 0 4vw;
    align-self: center;
    justify-content: flex-end;
    background-color: #fff;
    align-items: center;
    gap: 9%;
  }

  .topBarUl {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
  }

  .topBarUl li {
    list-style: none;
  }

  .topBarBtn {
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ec5242;
  }

  .introContainer {
    padding-left: 120px;
    padding-right: 180px;
  }

  .introText {
    width: 80%;
  }

  .programContainer {
    flex-direction: column;
    align-items: center;
  }

  .programContainer p {
    text-align: center;
  }

  .cards {
    flex-direction: row;
    gap: 4px;
  }

  .mainProgramContainer {
    height: auto;
  }

  .fSpeakersContainer {
    height: auto;
    margin-top: 30px;
  }

  .fSpeakersHr {
    margin-top: 10px;
  }

  .deskSpeakersContainer {
    padding: 10px 15%;
  }

  .deskSpeakersGrid {
    display: grid;
    column-gap: 10%;
    grid-template-columns: 45% 45%;
    row-gap: 20px;
  }

  .mobileMenu {
    display: none;
  }
}
